.header,
main,
footer {
  padding-left: 0;

  @media #{$medium-and-up} {}

  @media #{$large-and-up} {
    padding-left: $side_nav_width;
  }

}



.container {
  width: 90%;

  @media #{$medium-and-up} {
    width: 85%;
  }

  @media #{$large-and-up} {
    width: 90%;
  }

}

