.header,
.wrap,
.footer {
  padding-left: 0;

  @media #{$medium-and-up} {}

  @media #{$large-and-up} {
    padding-left: $side_nav_width;
  }
}

.wrap {
  @include clearfix;
}

.container {
  width: 80%;
  max-width: 1100px;
  @include clearfix();

  @media #{$medium-and-up} {
    width: 80%;
  }

  @media #{$large-and-up} {
    width: 90%;
  }

  @media #{$extra-large-and-up} {
    // float: left;
    // margin-left: 50px;
    width: 90%;
  }

}


.course-section {
  margin-bottom: 20px;
  padding-bottom: 27px;
  border-bottom: 3px solid color("grey", "darken-4");
  h2 {
    font-size: 36px;
    font-weight: 500;
  }
  h3 {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
  }
  ul {
    list-style-type: disc;
    padding-left: 20px;
    li {
      list-style-type: disc;
    }
  }
}

.materiales-institucionales {

}
.materiales-institucionales .valign-wrapper {
  margin-bottom: 0;
}
.material-section {
  .card-panel {
    padding: 0;
  }
}


.product-featured {
  @include clearfix;
  margin-top: 40px;
}


.content {
  margin-bottom: 0px;
}
