<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{ "/dist/js/vendor/jquery.min.js" | prepend: site.baseurl }}"><\/script>')</script>
<script src="{{ "/dist/js/materialize.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/dist/js/vendor/isotope.pkgd.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/dist/js/vendor/imagesloaded.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/dist/js/vendor/responsiveslides.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/dist/js/vendor/slugify.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/dist/js/vendor/speakingurl.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/dist/js/app.js" | prepend: site.baseurl }}"></script>

<script>
  (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
  function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
  e=o.createElement(i);r=o.getElementsByTagName(i)[0];
  e.src='https://www.google-analytics.com/analytics.js';
  r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
  ga('create','UA-46046773-1','auto');ga('send','pageview');
</script>
