<header>

  <nav>
    <div class="container">
      <a href="#" data-activates="nav-mobile" class="button-collapse top-nav full hide-on-large-only"><i class="mdi-navigation-menu"></i></a>
    </div>
  </nav>

  {% assign current = page.url | downcase | split: '/' %}

  <ul id="nav-mobile" class="side-nav fixed">
    <li><a href="{{ site.baseurl }}/">{{ site.title }}</a></li>
    <li class="{% if current[1] == 'empresa' %}active{% endif %}"><a href="/empresa">Empresa</a></li>
    <li class="{% if current[1] == 'productos' %}active{% endif %}"><a href="/productos">Productos</a></li>
    <li class="{% if current[1] == 'lineas' %}active{% endif %}"><a href="/lineas">Líneas</a></li>
    <li class="{% if current[1] == 'centro-tecnico' %}active{% endif %}"><a href="/centro-tecnico">Centro Técnico</a></li>
  </ul>

</header>
