<section class="slider slider-products">
  <ul class="slides">

    <li>
      <img class="slider-img" src="/images/slider/argan-bg.png">
      <div class="container" style="position: absolute; top: 0; left: 0; width: 100%; max-width: 100%;">
        <div class="row">
          <a href="/productos/argan-oil"><img style="float: left;width:auto; height:auto; max-height: 400px; padding: 40px;" src="/productos/argan-oil/images/ao-thumbnail.png"></a>
        </div>
      </div>
      <div class="caption right-align light grey-text text-lighten-4">
        <h3>Argan Oil<br> Multifunción</h3>
        <h5>Único tratamiento <br> con 6 funciones en uno</h5>
        <a href="/productos/argan-oil" class="btn">Ver producto</a>
      </div>
    </li>

    <li>
      <img class="slider-img" src="/images/slider/ssime-color-bg.jpg">
      <div class="container" style="position: absolute; top: 0; left: 0; width: 100%; max-width: 100%;">
        <div class="row">
          <a href="/productos/ssime-color"><img style="float: left;width:auto; height:auto; max-height: 400px; padding: 40px;" src="/images/slider/ssime-pomo-estuche.png"></a>
        </div>
      </div>
      <div class="caption right-align light grey-text text-darken-4">
        <h3>Ssime Color</h3>
        <h5>Coloración profesional <br> con recarga de keratina</h5>
        <a href="/productos/ssime-color" class="btn">Ver producto</a>
      </div>
    </li>
  </ul>
</section>
