<section class="slider slider-home">
  <div class="home-title">
    <h1 class="wow fadeInLeft animated black-text" data-wow-duration="500ms">Enfoque profesional</h1>
    <p class="lead wow fadeInLeft animated grey-text text-darken-3" data-wow-duration="500ms" data-wow-delay="250ms">Fórmulas innovadoras <br> en cosmética capilar profesional</p>
    <a class="btn grey darken-4 wow fadeInLeftBig animated" data-wow-duration="500ms" data-wow-delay="500ms" href="/productos">Ver productos</a>
  </div>
  <ul class="slides">
    <li>
      <img class="slider-img" src="/images/slider/hs-index-9554.jpg">
    </li>
    <li>
      <img class="slider-img" src="/images/slider/index-9455.jpg">
    </li>
    <li>
      <img class="slider-img" src="/images/slider/hs-i-0055.jpg">
    </li>
    <li>
      <img class="slider-img" src="/images/slider/hs-i-0093.jpg">
    </li>
  </ul>
</section>
