<section class="slider slider-products">
  <ul class="slides">
    <li>
      <!-- <img src="/images/slider/s-1.jpg"> -->
      <div class="container" style="position: absolute; top: 0; left: 0; width: 100%; max-width: 100%;">
        <div class="row">
          <img style="float: left;width:auto; height:auto; max-height: 400px; padding: 40px;" src="/productos/argan-oil/images/ao-thumbnail.png">
        </div>
      </div>
      <div class="caption right-align">
        <h3>Hairssime!</h3>
        <h5 class="light grey-text text-lighten-3">Producción 2015.</h5>
      </div>
    </li>
  </ul>
</section>
