<!doctype html>
<html class="no-js" lang="es">

{% include head.html %}

  <body class="default-layout {{ page.body_class }}">

    <!--[if lt IE 9]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    {% include header.html %}

    {% include sidenav.html %}

    <div class="wrap" role="document">

      <div class="content row">

        {{ content }}

      </div><!-- /.content -->

    </div><!-- /.wrap -->

    {% include footer.html %}

  </body>
</html>
