<!doctype html>
<html class="no-js" lang="es">

{% include head.html %}

  <body class="default-layout {{ page.body_class }}">

    <!--[if lt IE 9]>
      <p class="browserupgrade">Tu navegador <strong>no está actualizado.</strong> Tiene conocidas fallos de seguridad y podría no mostrar todas las características de este y otros sitios web. <a href="https://browser-update.org/es/update.html" target="_blank">Aprende cómo puedes actualizar tu navegador</a>.</p>
    <![endif]-->

    {% include header.html %}

    {% include sidenav.html %}

    <div class="wrap" role="document">

      <div class="content row">

        {{ content }}

      </div><!-- /.content -->

    </div><!-- /.wrap -->

    {% include footer.html %}

  </body>
</html>
