---
layout: default
---

<div class="parallax-container">

  <div class="container">
    <div class="row">
      <div class="parallax-col col s10 offset-s2 m6 offset-m5 l6 offset-l5">
        <h1 class="parallax-header">Ssime Profesional</h1>
        <p class="parallax-sub">Línea de coloración profesional con keratina</p>
        <p class="parallax-tagline">La mejor manera de teñir el cabello</p>
        <a href="/informacion-de-contacto" class="btn lime accent-2 grey-text text-darken-4">Incorporar Ssime en tu salon</a>
      </div>
    </div>
  </div>

  <div class="parallax"><img src="images/ssime-line.jpg"></div>

</div>

<div class="line-section ssime-tabs white">
  <div class="container">
    <div class="row">
      <div class="col s12 m8 offset-m2">
        <ul class="tabs">
          <li class="tab col s3"><a class="active" href="#innovation">Innovación</a></li>
          <li class="tab col s3"><a href="#colors">Colores</a></li>
          <li class="tab col s3"><a href="#cream">Crema-Gel</a></li>
        </ul>
      </div>
      <div id="innovation" class="tab-content col s12">
        <div class="row">
          <div class="col s12 m6">
            <h3>Coloración innovadora con Keratina</h3>
            <p>La composición química de la coloración Ssime incluye Keratina que produce un efecto protector y nutritivo. Su alcalinidad esta científicamente ajustada y adaptada a cada altura de los tonos, lo que reduce la inflamación cutícular y permite colorear sin atacar la fibra capilar.</p>
          </div>
          <div class="col s12 m6">img</div>
        </div>
      </div>
      <div id="colors" class="tab-content col s12">
        <div class="row">
          <div class="col s12 m6">
            <h3>Colores luminosos y brillantes</h3>
            <p>Nuestros profesionales técnicos trabajaron detalladamente sobre cada color de la línea para lograr la apariencia natural de los tonos de cada série.</p>
            <p><strong>La línea Ssime cuenta con 46 tonos en total:</strong></p>
            <p>Naturales, Marrones, Cenizas, Dorados, Marrones Cobrizos, Violaceos y Malvas. Para mayor flexibilidad de los tonos, los profesionales pueden utizlizar los acentuadores Azul y Rojo. También Reforzador de Aclaración para poder lograr los rubios platinados.</p>
          </div>
          <div class="col s12 m6">img</div>
        </div>
      </div>
      <div id="cream" class="tab-content col s12">
        <div class="row">
          <div class="col s12 m6">
            <h3>Suavidad y acondicionaminto</h3>
            <p>La estructura de la tintura es suave y su base Crema-Gel brinda un plus de acondicionamiento. Su aplicación y localización es muy sencilla, por su consistencia y su capacidad de deslizamiento.</p>
            <p>Base ligera que al contacto con el oxidante permite una preparación muy rápida. Se mezcla en segundos.</p>
          </div>
          <div class="col s12 m6">img</div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="line-section ssime-features grey darken-4">
  <div class="container">
    <div class="row">
      <h2>Características de la coloración</h2>
      <div class="col s6 m4 line-feature">
        <img src="/images/lines/ssime/i-shield.png" class="line-feat-img" alt="">
        <h3>Keratina</h3>
        <p>Contiene Keratina que trata el cabello al mismo tiempo que se produce la fijación del color.</p>
      </div>
      <div class="col s6 m4 line-feature">
        <img src="/images/lines/ssime/i-vial.png" class="line-feat-img" alt="">
        <h3>Colorantes</h3>
        <p>Los colorantes de última generación aseguran alta durabilidad de los tonos.</p>
      </div>
      <div class="col s6 m4 line-feature">
        <img src="/images/lines/ssime/i-star.png" class="line-feat-img" alt="">
        <h3>Brillo</h3>
        <p>Los pigmentos mantienen su luminosidad y brillo hasta la próxima aplicación.</p>
      </div>
      <div class="col s6 m4 line-feature">
        <img src="/images/lines/ssime/i-brush.png" class="line-feat-img" alt="">
        <h3>Aplicación</h3>
        <p>Su aplicación y localización es muy sencilla por su consistencia y su capacidad de deslizamiento</p>
      </div>
      <div class="col s6 m4 line-feature">
        <img src="/images/lines/ssime/i-cover.png" class="line-feat-img" alt="">
        <h3>Cubrimiento 100%</h3>
        <p>No se requiere utilizar tonos bases para asegurar cobertura de cabellos blancos.</p>
      </div>
      <div class="col s6 m4 line-feature">
        <img src="/images/lines/ssime/i-cream.png" class="line-feat-img" alt="">
        <h3>No mancha</h3>
        <p>Posee tensioactivos, que facilitan el retiro de los restos de tintura.</p>
      </div>
    </div>
  </div>
</div>

<div class="parallax-container">
  <!-- <div class="parallax"><img src="images/parallax2.jpg"></div> -->
</div>
